<div ng-show="isBank" style="margin-left:70px !important;">
<h2>Bank Details</h2>

<div class="col-sm-7">
<form method="POST" name="bankForm" class="form-inline">

<div class="form-group">
<label>Date: </label>&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="date" >
</div>

<div class="form-group">
<label>Reference#: </label>&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="date" >
</div>

<div class="form-group">
<label>Bank: </label>&nbsp;&nbsp;&nbsp;<select ng-model="bankSelected" ng-options="choice as choice for (idx, choice) in bankList.split(',')" ng-change="handleBankChange()" class="form-control">
	<option value="">Select Bank</option>
	</select>
</div>
<br><br><br>
<div class="form-group"><label>Cheque#</label>
<input type="text" class="form-control" name="chequeNo" >
</div>

<div class="form-group"><label>A/C#</label>
<input type="text" class="form-control" name="chequeNo" >
</div>

<div class="form-group" >
<label>Type: </label>&nbsp;&nbsp;&nbsp;<select ng-model="typeSelected" ng-options="choice as choice for (idx, choice) in acType.split(',')" class="form-control">
	<option value="">Select type</option>
	</select>
</div>
<br><br><br>

<div class="col-xs-3">
<label>Particulars:</label>&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="particulars" >
</div>
<div class="col-xs-3">
<label>Towards:</label> &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="towards" value="">
</div>


<div class="col-xs-3">
<label>Amount: </label>&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="amount" >
</div>
<br><br><br>
<div class="col-xs-3">
<label>Receiver Sign:</label>&nbsp; &nbsp;&nbsp;<input type="text" class="form-control" name="rsign" value="">
</div>


<div class="col-xs-3">
<label>Approver Sign:</label>&nbsp; &nbsp;&nbsp;<input type="text" class="form-control" name="asign" value="">
</div>
<div class="col-xs-3">
<label>Payee Sign:</label> &nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="psign" value="">
</div>

<br><br><br>
<div class="form-group"> 
<br><br>
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</form>
</div>
</div>