<div ng-show="isEnquiry" style="margin-left:70px !important;">
<br>
<h1>Enquiry Form</h1>

<div class="col-sm-7">
<form method="get" name="quotationForm" class="form-inline" role="form">
<div class="well  well-sm" style="width:70%;">Vendor Details:</div>
<div class="form-group">
<label>Vendor Id:</label> <input type="text" class="form-control" name="vendor" value="">
</div>

<div class="form-group">
<label>Vendor Name: </label><input type="text" class="form-control" name="vendorName" >
</div>
<br>
<br>
<div class="form-group">
<label>Address: </label> &nbsp;&nbsp;&nbsp;<textarea class="form-control" rows="4" cols="25" name="address"></textarea>
</div>
<br>
<br>
<div class="form-group">
<button type="button" class="btn btn-info" ng-click="addQuotation()">
    <span class="glyphicon glyphicon-plus"></span>  Add Item Details
</button>
</div>
</div>
<br><br>
<div class="col-sm-12">
<div  ng-show="addQuote" ng-repeat="quote in quotationList" >
				<br>
				<div class="col-xs-2" style="width:150px">
				<label>Item Id: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.itemId">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>Item Name: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.itemName">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>UOM: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.uom">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>Quantity: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.quantity">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>Unit Price: </label>
				<input type="text" name="price" class="form-control"  ng-model="order.unitPrice">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>Amount: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.amount">
				</div>
				
				<div class="col-xs-2" style="width:150px">
				<label>Discount: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.discount">
				</div>
				<br><br><br>
</div>
<br>
<br>
<div class="form-group"> 
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</div>
<!-- <table cellspacing="0"  width="20%" align="right" ng-show="addQuote" >
				<tr>
				<td class="input-list style-2 clearfix" align="left">
				<label>Total items: </label>
				<span>0</span>
				&nbsp;
				</td>
				</tr>
				
				<tr><td>&nbsp;</td></tr>
				<tr><td>&nbsp;</td></tr>
				</table> -->
<!-- <button type="button" type="button" >Submit</button> -->

</form>
</div>
</div>

<!-- <div class="col-sm-4 pull-right">
<div class="panel panel-default">
<div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>News</b></div>
<div class="panel-body pull-right" >
<div class="row pull-right">
<div class="col-xs-12 pull-right">
<ul class="demo1 pull-right">
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/1.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur  <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/2.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur  <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/3.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur  <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/4.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/5.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/6.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur <a href="#">Read more...</a></td>
</tr>
</table>
</li>
<li class="news-item pull-right">
<table cellpadding="4">
<tr>
<td><img src="images/7.png" width="60" class="img-circle" /></td>
<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></td>
</tr>
</table>
</li>
</ul>
</div>
</div>
</div>
</div>
</div> -->