<div ng-show="isIDC" style="margin-left:70px !important;">
<br>
<h2>Inward Delivery Challan</h2>
<form method="get" name="inwardDCForm" class="form-inline" role="form">
<div class="well  well-sm" style="width:50%;">Challan Details:</div>


<br><br>
<div class="col-sm-7">
<div class="form-group">
<label>Vendor Id: </label>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="vendorId" class="form-control" ></div>
<div class="form-group">
<label>Vendor Name: </label>
<input type="text" name="vendorName" class="form-control" ></div>
<br><br>
<div class="form-group">
<label>E-SUGAM Id: </label><input type="text" name="eSugamId" class="form-control" ></div>
<br>
<br>
<div class="form-group">
<label>Purchase Order Id:</label> <select name="purchaseOrderId" class="form-control">
	<option value="ALL">Purchase Order ID</option>
    <option value="1">OD1</option>
    <option value="2">OD2</option>
    <option value="3">OD3</option>
  </select>
</div>
<!-- <td class="input-list style-2 clearfix">
<label>E-SUGAM Id:</label> <input type="text" name="vendor" value=""></td> -->
<div class="form-group">
<label>Mode Of Delivery: </label><select name="Mode of Delivery" class="form-control">
	<option value="ALL">Mode of Delivery</option>
    <option value="byHand">By Hand</option>
    <option value="courier">Courier</option>
    <option value="vehicle">Vehicle</option>
  </select>
</div>
<br><br>

<div class="form-group">
<button type="button" class="btn btn-info" ng-click="addIDC()">
    <span class="glyphicon glyphicon-plus"></span>  Items Received Details
</button>
</div>
</div>
<div class="col-sm-12">
<br>
<div ng-repeat="challan in InwardDCList" ng-show="InwardDC">
				
				<br><br>
				<div class="col-xs-2">
				<label>Item Id: </label>
				<input type="text" name="itemName" class="form-control" ng-model="challan.itemId">
				</div>
				
				<div class="col-xs-2">
				<label>Item Name: </label>
				<input type="text" name="itemName" class="form-control" ng-model="challan.itemName">
				</div>
				
				<div class="col-xs-2">
				<label>Quantity: </label>
				<input type="text" name="itemName" class="form-control" ng-model="challan.quantity">
				</div>
				
				<div class="col-xs-2">
				<label>Unit Price: </label>
				<input type="text" name="itemName" class="form-control" ng-model="challan.unitPrice">
				</div>

				<div class="col-xs-2">
				<label>Total Amount: </label>
				<input type="text" name="price" class="form-control" ng-model="challan.totalAmt">
				</div>
				<br><br>
		
</div>
<br><br>
<div class="form-group"> 
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</div>
</form>
</div>