<div ng-show="isPurchase" style="margin-left:70px !important;">
<br>
<h2>Purchase Order</h2>
<div class="col-sm-7">
<form method="get" name="purchaseForm" class="form-inline" role="form">

<div class="well  well-sm" style="width:50%;">Vendor Details:</div>

<div class="form-group">
<label>Vendor Id:</label> <input type="text" class="form-control" name="vendor" value=""></div>
<div class="form-group">
<label>Vendor Name: </label><input type="text"  class="form-control" name="vendorName" ></div>

<br>
<br>
<div class="form-group">
<button type="button" class="btn btn-info" ng-click="addItems()">
    <span class="glyphicon glyphicon-plus"></span>  Add Item Details
</button>
</div>
</div>
<br><br>
<div class="col-sm-10">
<br>
<div ng-repeat="order in purchaseOrderList" ng-show="add">

				<div class="col-xs-2" style="width:140px">
				<label>Item Id: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.itemId">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>Item Name: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.itemName">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>UOM: </label>
				<input type="text" name="itemName" class="form-control"  ng-model="order.uom">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>Quantity: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.quantity">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>Unit Price: </label>
				<input type="text" name="price" class="form-control"  ng-model="order.unitPrice">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>Amount: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.amount">
				</div>
				
				<div class="col-xs-2" style="width:140px">
				<label>Discount: </label>
				<input type="text" name="quantity" class="form-control"  ng-model="order.discount">
				</div>
</div>
</div>
<!-- Added two more items -->
<div class="col-sm-7">
<br><br>
<div class="well  well-sm" style="width:40%;">Payment Terms and Conditions:</div>
<div class="form-group" style="width:30%;display: inline-block;">
<input type="text" class="form-control" name="paymentTnC" value=""></div>
<br>
<div class="well  well-sm" style="width:50%;">Delivery Terms and Conditions:</div>
<div class="form-group" style="width:30%;display: inline-block;">
<input type="text" class="form-control" name="deliveyTnC" value=""></div>


<br>
<div class="well  well-sm" style="width:50%;">Ship To:</div>

<div class="col-xs-3">
<label>First Name:</label><input type="text" class="form-control" name="FirstName">
</div>

<div class="col-xs-3">
<label>Last Name:</label><input type="text" class="form-control" name="LastName">
</div>

<br><br><br>
<div class="col-xs-3">
<label>Address: </label> &nbsp;&nbsp;&nbsp;<textarea rows="2" cols="2" class="form-control" name="address"></textarea>
</div>
<br><br><br>
<div class="form-group"> 
<br><br><br><br>
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</form>
</div>
</div>