<div ng-show="isReceivable" style="margin-left:70px !important;">
<br>
<h2>Receivable Amount Info</h2>

<div class="col-sm-7">
<form method="get" name="receivableForm" class="form-inline" role="form">
<div class="well  well-sm" style="width:50%;">Receivable Amount Details</div>

<div class="form-group">
<label>Date:</label> <input type="text" class="form-control" name="vendor" value=""></div>

<div class="form-group">
<label>Receivers Name: </label><input type="text" class="form-control" name="vendorName" ></div>

<div class="form-group">
<label>Amount: </label><input type="text" class="form-control" name="amount" ></div>

<br><br>
<div class="form-group">
<label>References: </label><select ng-model="reference" ng-options="choice as choice for (idx, choice) in references.split(',')" ng-change="displayRefVal(reference)" class="form-control">
	<option value="">Select Reference</option>
	</select>
</div>&nbsp;&nbsp;
<div class="form-group" ng-show="inputRef"><label>{{referenceVal}}</label>
<input type="text" class="form-control" name="referenceField" >
</div>

<br><br>

<div class="form-group">
<label>Payment Mode: </label><select ng-model="paymentModeSelected" ng-options="choice as choice for (idx, choice) in paymentList.split(',')" ng-change="handlePaymentMode(paymentModeSelected)" class="form-control">
	<option value="">Select Payment Mode</option>
	</select>
</div>&nbsp;&nbsp;
<div class="form-group" ng-show="inputPayment"><label>{{paymentLabel}}</label>
<input type="text" class="form-control" name="paymentInput" >
</div>
<br><br>

 <br><br>
<div class="form-group"> 
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</form>
</div>
</div> 