<div ng-show="isSales">
<br>
<center><h2>Sales</h2></center>
<form method="get" name="salesForm">
<table style="table-layout: fixed" align="center" cellpadding="5" border="0" cellspacing="0" width="70%">

<tr><td align="right">
<h3>Sales Details</h3>
</td>
<td><button type="button" type="button" ng-click="addSales()">+</button></td>
</tr>
<tr>
<table cellspacing="1"  width="90%" align="center" ng-repeat="sale in salesList" ng-show="addSalesDetails" >
				<tr>
				<td class="input-list style-2 clearfix" align="left">
				<label>Item Id: </label>
				<input type="text" name="itemName" ng-model="sale.itemId">
				</td>
				
				<td class="input-list style-2 clearfix" align="left">
				<label>Vendor Id: </label>
				<input type="text" name="itemName" ng-model="sale.vendorId">
				</td>
				
				<td class="input-list style-2 clearfix" align="left">
				<label>Quantity Sold: </label>
				<input type="text" name="itemName" ng-model="sale.quantitySold">
				</td>
				
				<td class="input-list style-2 clearfix" align="left">
				<label>Unit Price: </label>
				<input type="text" name="itemName" ng-model="sale.unitPrice">
				</td>

				<td class="input-list style-2 clearfix">
				<label>Total Amount: </label>
				<input type="text" name="price" ng-model="sale.totalAmt">
				</td>
				</tr>
		
</table>

</tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td>
<table style="table-layout: fixed" align="right" cellpadding="5" border="0" cellspacing="0" width="50%">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
		<tr>
<td ><button type="button" type="button" >Submit</button></td></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
</div>